/* Mengatur semua elemen agar ukuran box lebih mudah diatur */
* {
    box-sizing: border-box;
}

/*Mengatur tampilan dasar seluruh halaman*/
body {
    margin: 0; /*menghilangkan jarak bawaan browser*/
    font-family: 'Poppins', sans-serif; /*pake font Poppins*/
    background-color: #FFF5F7;/*kasi warna pink muda ke background*/
    color: #333; /* atur warna teks*/
    text-align: center;/* atur teks agar rata tengah*/
}

/* styling untuk header */
header {
    padding: 30px 20px 10px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 5px 0;
    font-size: 16px;
}

/* mengatur tampilan start screen */
#start-screen {
    min-height: 500px; /*atur tinggi minimum start screen*/
    display: flex; /*gunakan flexbox untuk mengatur posisi elemen*/
    flex-direction: column; /* menyusun elemen dari atas ke bawah*/
    align-items: center; /*atur elemen ada ditengah secara horizontal*/
    justify-content: center; /*atur elemen ada ditengah secara vertikal*/
    gap: 20px; /*kasi jarak antar elemen*/
}

/*atur ukuran karakter pada start screen*/
#start-screen img {
    width: 400px; /*atur lebar gambar karakter*/
    height: auto; /*atur tinggi otomatis*/
}

/*atur tampilan tombol start*/
#start-screen button {
    padding: 12px 50px; /*kasi ruang dalam tombol*/
    border: none; /*hilangkan garis tepi tombol*/
    border-radius: 25px; /* buat sudut tombol agak membulat*/
    background-color: #F48FB1; /* kasi warna pink pd tombol*/
    color: white; /* untuk teks berwarna putih*/
    font-size: 16px; /*atur ukuran teks*/
    font-weight: bold; /*buat tulisan jadi tebal*/
    cursor: pointer; /*ubah bentuk kursoe saat diarahkan ke tombol*/
}
