/* Mengatur semua elemen agar ukuran box lebih mudah diatur */
* {
    box-sizing: border-box;
}

/*Mengatur tampilan dasar seluruh halaman*/
body {
    margin: 0; /*menghilangkan jarak bawaan browser*/
    font-family: 'Poppins', sans-serif; /*pake font Poppins*/
    background-color: #FFF5F7;/*kasi warna pink muda ke background*/
    color: #333; /* atur warna teks*/
    text-align: center;/* atur teks agar rata tengah*/
}

/* styling untuk header */
header {
    padding: 30px 20px 10px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #F48FB1;
}

header p {
    margin: 5px 0;
    font-size: 16px;
}

/* mengatur tampilan start screen */
#start-screen {
    min-height: 500px; /*atur tinggi minimum start screen*/
    display: flex; /*gunakan flexbox untuk mengatur posisi elemen*/
    flex-direction: column; /* menyusun elemen dari atas ke bawah*/
    align-items: center; /*atur elemen ada ditengah secara horizontal*/
    justify-content: center; /*atur elemen ada ditengah secara vertikal*/
    gap: 20px; /*kasi jarak antar elemen*/
}

/*atur ukuran karakter pada start screen*/
#start-screen img {
    width: 400px; /*atur lebar gambar karakter*/
    height: auto; /*atur tinggi otomatis*/
}

/*atur tampilan tombol start*/
#start-screen button {
    padding: 12px 50px; /*kasi ruang dalam tombol*/
    border: none; /*hilangkan garis tepi tombol*/
    border-radius: 25px; /* buat sudut tombol agak membulat*/
    background-color: #F48FB1; /* kasi warna pink pd tombol*/
    color: white; /* untuk teks berwarna putih*/
    font-size: 16px; /*atur ukuran teks*/
    font-weight: bold; /*buat tulisan jadi tebal*/
    cursor: pointer; /*ubah bentuk kursoe saat diarahkan ke tombol*/
}

/*atur tampilan tombol saat di hover*/
#start-screen button:hover {
    background-color: #F06292; /*ubah warna tombol saat di hover*/
}

/*TAMPILAN MAKEUP SCREEN*/
/*atur tampilan makeup screen*/
#makeup-screen {
    min-height: 500px; /*atur tinggi minimum makeup screen*/
    padding: 30px 20px; /*kasi jarak dalam makeup screen*/
}

/*atur tampilan judul makeup screen*/
#makeup-screen h2 {
    margin: 0;/*hilangkan jarak bawaan*/
    color: #F48FB1; /*kasi warna pink ke judul*/
    font-size: 30px; /*atur ukuran teks*/
}

/*atur tulisan step 1 of 3*/
#makeup-screen p {
    margin: 8px 0 20px; /*kasi jarak atas dan bawah*/
    font-size: 14px; /*atur ukuran teks*/
    color: #777; /*kasi warna abu-abu ke teks*/
}

/*atur tampilan gambar karakter pada makeup screen*/
#karakter-makeup {
    width: 250px; /*atur lebar gambar karakter*/
    height: auto; /*atur tinggi otomatis*/
    display: block; /*atur gambar agar menjadi blok*/
    margin: 0 auto 20px; /*atur jarak atas dan bawah gambar*/
}

/*atur judul makeup*/
#makeup-screen h3 {
    margin: 0 0 15px; /*kasi jarak bawah*/
    font-size: 20px; /*atur ukuran teks*/
    color: #F48FB1; /*kasi warna pink ke judul*/
}

/*atur tampilan tombol pilihan makeup*/
#makeup-screen button {
    padding: 10px 25px; /*kasi ruang dalam tombol*/
    margin: 20px; /*kasi jarak antar tombol*/
    border: none; /*hilangkan garis tepi tombol*/
    border-radius: 20px; /*buat sudut tombol agak membulat*/
    background-color: #F48FB1; /*kasi warna pink ke tombol*/
    color: white; /*kasi warna putih ke teks tombol*/
    font-size: 14px; /*atur ukuran teks tombol*/
    cursor: pointer; /*ubah bentuk kursor saat diarahkan ke tombol*/
}

/*TAMPILAN HAIR SCREEN*/
/*atur tampilan hair screen*/
#hair-screen {
    min-height: 500px; /*atur tinggi minimum hair style screen*/
    padding: 30px 20px; /*kasi jarak dalam hair style screen*/
}

/*atur tampilan judul hair screen*/
#hair-screen h2 {
    margin: 0;/*hilangkan jarak bawaan*/
    color: #F48FB1; /*kasi warna pink ke judul*/
    font-size: 30px; /*atur ukuran teks*/
}

/*atur tulisan step 1 of 3*/
#hair-screen p {
    margin: 8px 0 20px; /*kasi jarak atas dan bawah*/
    font-size: 14px; /*atur ukuran teks*/
    color: #777; /*kasi warna abu-abu ke teks*/
}

/*atur tampilan gambar karakter pada hair screen*/
#karakter-hair {
    width: 250px; /*atur lebar gambar karakter*/
    height: auto; /*atur tinggi otomatis*/
    display: block; /*atur gambar agar menjadi blok*/
    margin: 0 auto 20px; /*atur jarak atas dan bawah gambar*/
}

/*atur judul hair*/
#hair-screen h3 {
    margin: 0 0 15px; /*kasi jarak bawah*/
    font-size: 20px; /*atur ukuran teks*/
    color: #F48FB1; /*kasi warna pink ke judul*/
}

/*atur tampilan tombol pilihan hair*/
#hair-screen button {
    padding: 10px 25px; /*kasi ruang dalam tombol*/
    margin: 20px; /*kasi jarak antar tombol*/
    border: none; /*hilangkan garis tepi tombol*/
    border-radius: 20px; /*buat sudut tombol agak membulat*/
    background-color: #F48FB1; /*kasi warna pink ke tombol*/
    color: white; /*kasi warna putih ke teks tombol*/
    font-size: 14px; /*atur ukuran teks tombol*/
    cursor: pointer; /*ubah bentuk kursor saat diarahkan ke tombol*/
}


/*TAMPILAN OUTFIT SCREEN*/
/*atur tampilan outfit screen*/
#outfit-screen {
    min-height: 500px; /*atur tinggi minimum outfit screen*/
    padding: 30px 20px; /*kasi jarak dalam outfit screen*/
}

/*atur tampilan judul outfit screen*/
#outfit-screen h2 {
    margin: 0;/*hilangkan jarak bawaan*/
    color: #F48FB1; /*kasi warna pink ke judul*/
    font-size: 30px; /*atur ukuran teks*/
}

/*atur tulisan step 1 of 3*/
#outfit-screen p {
    margin: 8px 0 20px; /*kasi jarak atas dan bawah*/
    font-size: 14px; /*atur ukuran teks*/
    color: #777; /*kasi warna abu-abu ke teks*/
}

/*atur tampilan gambar karakter pada outfit screen*/
#karakter-outfit {
    width: 250px; /*atur lebar gambar karakter*/
    height: auto; /*atur tinggi otomatis*/
    display: block; /*atur gambar agar menjadi blok*/
    margin: 0 auto 20px; /*atur jarak atas dan bawah gambar*/
}

/*atur judul outfit*/
#outfit-screen h3 {
    margin: 0 0 15px; /*kasi jarak bawah*/
    font-size: 20px; /*atur ukuran teks*/
    color: #F48FB1; /*kasi warna pink ke judul*/
}

/*atur tampilan tombol pilihan outfit*/
#outfit-screen button {
    padding: 10px 25px; /*kasi ruang dalam tombol*/
    margin: 20px; /*kasi jarak antar tombol*/
    border: none; /*hilangkan garis tepi tombol*/
    border-radius: 20px; /*buat sudut tombol agak membulat*/
    background-color: #F48FB1; /*kasi warna pink ke tombol*/
    color: white; /*kasi warna putih ke teks tombol*/
    font-size: 14px; /*atur ukuran teks tombol*/
    cursor: pointer; /*ubah bentuk kursor saat diarahkan ke tombol*/
}

/*TAMPILAN RESULT SCREEN*/
/*atur tampilan result screen*/
#result-screen {
    min-height: 500px; /*atur tinggi minimum result screen*/
    padding: 30px 20px; /*kasi jarak dalam result screen*/
}

/*atur tampilan judul makeup screen*/
#result-screen h2 {
    margin: 0;/*hilangkan jarak bawaan*/
    color: #F48FB1; /*kasi warna pink ke judul*/
    font-size: 30px; /*atur ukuran teks*/
}

/*atur tulisan step 1 of 3*/
#result-screen p {
    margin: 8px 0 20px; /*kasi jarak atas dan bawah*/
    font-size: 14px; /*atur ukuran teks*/
    color: #777; /*kasi warna abu-abu ke teks*/
}

/*atur tampilan gambar karakter pada makeup screen*/
#karakter-result {
    width: 250px; /*atur lebar gambar karakter*/
    height: auto; /*atur tinggi otomatis*/
    display: block; /*atur gambar agar menjadi blok*/
    margin: 0 auto 20px; /*atur jarak atas dan bawah gambar*/
}

/*atur judul makeup*/
#result-screen h3 {
    margin: 0 0 15px; /*kasi jarak bawah*/
    font-size: 20px; /*atur ukuran teks*/
    color: #F48FB1; /*kasi warna pink ke judul*/
}

/*atur tampilan tombol pilihan makeup*/
#result-screen button {
    padding: 10px 25px; /*kasi ruang dalam tombol*/
    margin: 20px; /*kasi jarak antar tombol*/
    border: none; /*hilangkan garis tepi tombol*/
    border-radius: 20px; /*buat sudut tombol agak membulat*/
    background-color: #F48FB1; /*kasi warna pink ke tombol*/
    color: white; /*kasi warna putih ke teks tombol*/
    font-size: 14px; /*atur ukuran teks tombol*/
    cursor: pointer; /*ubah bentuk kursor saat diarahkan ke tombol*/
}